<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="card">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a onclick="localStorage.setItem('active',1);" href="#">Dashboard</a></li>
            <li class="breadcrumb-item active">Places</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--<form ng-submit="addPlace();">-->
                <!--<input type="text" ng-model="newplace" placeholder="sweet home"></input>-->
                <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <input type="text" ng-model="pc.newplace" placeholder="Place Name" class="form-control">
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-fill" ng-click="pc.addPlace(pc.newplace)">Add
                            New Place
                        </button>
                    </div>
                </div>
                </div>

            <!--</form>-->
            <div class="card" style="padding-bottom: 20px">
                <div class="header">
                    <h4 class="title">Location</h4>
                  <br/>
                  <br/>
                      <div class="row">
                          <div style="text-align: center;">
                              <div class="font-icon-list col-lg-3 col-md-4 col-sm-6 col-xs-6"
                                   ng-repeat="place in places">
                                  <div class="content card">
                                      <div class="font-icon-detail">
                                          <i class="pe-7s-home myicon"></i>
                                      </div>
                                      <div>
                                          <label>{{place.name}}</label>
                                      </div>
                                      <div class="row" style="margin-bottom: 25px">
                                          <a ng-href="#/room/{{place.name}}">
                                              <button type="button" class="btn btn-primary btn-fill">View
                                              </button>
                                          </a>
                                          <button type="button" data-toggle="modal" ng-click="pc.getPlace(place.name)"
                                                  data-target="#myModal" class="btn btn-warning btn-fill">Edit
                                          </button>
                                          <button type="button" class="btn btn-danger btn-fill"
                                                  ng-click="pc.deletePlace(place.name)">Delete
                                          </button>
                                          <div class="clearfix"></div>
                                      </div>
                                  </div>
                                      <div class="modal fade" id="myModal" role="dialog">
                                          <div class="modal-dialog">

                                              <!-- Modal content-->
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <button type="button" class="close"
                                                              data-dismiss="modal">&times;</button>
                                                      <h4 class="modal-title">{{placeToBeEdited}}</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                      <div class="form-group row">
                                                          <div class="col-lg-6 col-md-8">
                                                              <input class="form-control" placeholder="New Name"
                                                                     type="text" ng-model="pc.newname">
                                                          </div>
                                                          <button class="btn btn-primary btn-fill" type="submit"
                                                                  value="Update" ng-click="pc.editPlace(pc.newname)">
                                                              Update
                                                          </button>
                                                      </div>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <button type="button" class="btn btn-default"
                                                              data-dismiss="modal">Close
                                                      </button>
                                                  </div>
                                              </div>

                                          </div>
                                      </div>
                                  </div>
                          </div>
                      </div>
                       </div>
                    </div>
                </div>
              </div>
          </div>
<div>
</div>
