<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                  <h4 class="title">Your places...</h4>
                  <br/>
                  <br/>
                      <div class="row">
                          <div style="text-align: center;">
                              <!--button ng-click="getPlaceDetails()">GET PLACES</button-->
                              <a>
                                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
                                       ng-repeat="place in places">
                                      <div class="font-icon-detail">
                                          <i class="pe-7s-home myicon"></i>
                                      </div>
                                      <div>
                                          <label>{{place.name}}</label>
                                      </div>

                                  </div>

                              </a>
                          </div>
                      </div>
                       </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
<div>
<form ng-submit="addPlace();">
<input type="text" ng-model="newplace" placeholder="sweet home"></input>
<input type="submit" value="Add New"></input>
</form>
</div>
</div>