<div class="container">
  <div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="logmod__container">
      <ul class="logmod__tabs">
        <li data-tabtar="lgm-2" ng-click='setTab(false)' ng-class="reg ? '' : 'current' "><a href="#/">Login</a></li>
        <li data-tabtar="lgm-1" ng-click='setTab(true)' ng-class="reg ? 'current' : '' "><a href="#/">Sign Up</a></li>
      </ul>
      <div class="logmod__tab-wrapper">
      <div class="logmod__tab lgm-1 show" ng-show="reg">
        <div class="logmod__heading">
          <span class="logmod__heading-subtitle">Enter your personal details <strong>to create an acount</strong></span>
        </div>
        <div class="logmod__form">
          <form accept-charset="utf-8" ng-submit="register();" class="simform">
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-name">First Name*</label>
                <input class="string optional" maxlength="255" ng-model="first" placeholder="First Name" type="Username" size="50" />
              </div>
              <div class="input full">
                <label class="string optional" for="user-name">Last Name*</label>
                <input class="string optional" maxlength="255" ng-model="last" placeholder="Last Name" type="Username" size="50" />
              </div>
            </div>
            <div class="sminputs">
              <div class="input full">
                <label type="email" class="string optional" for="user-name">Email*</label>
                <input class="string optional" maxlength="255" ng-model="email" placeholder="Email" type="Username" size="50" />
              </div>
            </div>
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-name">Username*</label>
                <input class="string optional" maxlength="255" ng-model="username" placeholder="Username" type="Username" size="50" />
              </div>
            </div>
            <div class="sminputs">
              <div class="input string optional">
                <label class="string optional" for="user-pw">Password *</label>
                <input type="password" class="string optional" maxlength="255" id="user-pw" ng-model="password" placeholder="Password" type="text" size="50" />
              </div>
              <div class="input string optional">
                <label class="string optional" for="user-pw-repeat">Repeat password *</label>
                <input type="password" class="string optional" maxlength="255" id="user-pw-repeat" placeholder="Repeat password" type="text" size="50" />
              </div>
            </div>
            <div class="simform__actions">
              <input class="sumbit" type="submit" value="Create Account" />
              <span class="simform__actions-sidetext">By creating an account you agree to our <a class="special" href="#" target="_blank" role="link">Terms & Privacy</a></span>
            </div> 
          </form>
        </div> 
      </div>
      <div class="logmod__tab lgm-2 show" ng-hide="reg">
        <div class="logmod__heading">
          <span class="logmod__heading-subtitle">Enter your Username and password <strong>to sign in</strong></span>
        </div> 
        <div class="logmod__form">
          <form accept-charset="utf-8" ng-submit="SendData();"  class="simform">
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-name">Username*</label>
                <input class="string optional" maxlength="255" id="user-email" placeholder="Username" ng-model="username" name=username size="50" />
              </div>
            </div>
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-pw">Password *</label>
                <input name=password class="string optional" maxlength="255" id="user-pw" ng-model="password" placeholder="Password" type="password" size="50" />
                						<span class="hide-password">Show</span>
              </div>
            </div>
            <div class="simform__actions">
              <input class="sumbit" type="submit" value="Log In" />
              <span class="simform__actions-sidetext"><a class="special" role="link">Forgot your password?<br>Click here</a></span>
            </div> 
          </form>
        </div> 

          </div>
      </div>
      </div>
      </div>
      </div>