<div class="card">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a onclick="localStorage.setItem('active',1);" href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a onclick="localStorage.setItem('active',3);" href="#/homes">Locations</a></li>
        <li class="breadcrumb-item active"><a onclick="localStorage.setItem('active',3);"
                                              ng-href="#/room/{{sw.params.placeName}}">{{sw.params.placeName}}</a></li>
        <li class="breadcrumb-item active">{{sw.params.roomName}}</li>
    </ol>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <!--Form Start-->
            <div class="row">
                <form>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <input type="text" ng-model="switchname" placeholder="switch Name" class="form-control">
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <input type="text" ng-model="status" placeholder="status" class="form-control">
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group"
                         ng-init="totalPins=[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27]">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <input type="text" ng-model="gpio" placeholder="GPIO" class="form-control">
                            </a>
                            <ul class="dropdown-menu pre-scrollable">
                                <button type="button" ng-class-even="'btn-info'" ng-class-odd="'btn-primary'"
                                        class="btn btn-fill" ng-disabled="sw.isNotFree(pin)"
                                        ng-repeat="pin in totalPins" ng-click="sw.setGpio(pin);">{{pin}}
                                </button>
                            </ul>
                        </li>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-fill" ng-click="sw.addSwitch();">Add New
                            Switch
                        </button>
                    </div>
                </div>
                </form>
            </div>
            <!--Form End-->
            <div class="card" style="padding-bottom: 20px">
                <div class="header">
                    <h4 class="title">Switches</h4>
                    <br/>
                    <br/>
                    <div style="text-align: center">
                        <div class="row">
                            <!--Switch Start-->
                            <div class="font-icon-list col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-repeat="s in switch">
                                <div class="card content">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <!-- Rounded switch -->
                                    <label class="switch" ng-init="togglestatus=sw.getStatus(s.status)">
                                        <input type="checkbox" ng-disabled="sw.isPIR(s.status)"
                                               ng-checked="sw.getStatus(s.status)"
                                               ng-click="togglestatus = !togglestatus; sw.operateSwitch(s.SwitchName , togglestatus)">
                                        <div class="slider round"></div>
                                    </label>
                                    </br>
                                    <div>
                                        <label>{{s.SwitchName}}</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                     style="margin-bottom: 25px">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <a>
                                                <button type="button" data-toggle="modal"
                                                        ng-click="sw.getSwitch(s.SwitchName)"
                                                        data-target="#myModal"
                                                        class="btn btn-warning btn-fill btn-block">Edit
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                            <button type="button"
                                                    class="btn btn-danger btn-fill btn-block"
                                                    ng-click="sw.deleteSwitch(s.SwitchName);">
                                                Delete
                                            </button>
                                        </div>
                                        <div class="modal fade" id="myModal" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                                data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">{{switchToBeEdited}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input type="text" ng-model="sw.newswitch">
                                                        <button class="btn btn-primary btn-fill"
                                                                type="submit" value="Update"
                                                                ng-click="sw.editSwitch(sw.newswitch)">
                                                            Update
                                                        </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>

                                            <!--Room Element End-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                                </div>
                        </div>
                            <!--Switch End-->
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
