<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!--<form ng-submit="addPlace();">-->
            <!--<input type="text" ng-model="newplace" placeholder="sweet home"></input>-->
            <div class="row">
                <form ng-submit="sw.addSwitch();">
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <input type="text" ng-model="switchname" placeholder="switch Name" class="form-control">
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <input type="text" ng-model="pir" placeholder="PIR" class="form-control">
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <input type="text" ng-model="status" placeholder="status" class="form-control">
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <input type="text" ng-model="gpio" placeholder="GPIO" class="form-control">
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-fill">Add New Switch</button>
                    </div>
                </div>
            </div>
            </form>
            <!--</form>-->
            <div class="card" style="padding-bottom: 20px">
                <div class="header">
                    <h4 class="title">Switches</h4>
                    <br/>
                    <br/>
                    <div class="row">
                        <div style="text-align: center;">
                            <div class="row">
                                <div class="container-fluid col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                    <div class="row">
                                        <div class="font-icon-list col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                             ng-repeat="s in switch">
                                            <!--Room Element Start-->
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <!-- Rounded switch -->
                                                    <label class="switch" ng-init="togglestatus = sw.getStatus(s.status)">
                                                        <input type="checkbox" ng-disabled='{{s.status}} =="PIR"' ng-click="togglestatus = !togglestatus; sw.operateSwitch(s.SwitchName , togglestatus)">
                                                        <div class="slider round"></div>
                                                    </label>
                                                    </br>
                                                    <div>
                                                        <label>{{s.SwitchName}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Room Element End-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6"></div>
                            </div>
                            <!--<div class="font-icon-list col-lg-12 col-md-12 col-sm-12 col-xs-12"-->
                            <!--ng-repeat="room in rooms">-->
                            <!--<div class="font-icon-detail">-->
                            <!--<i class="pe-7s-home myicon"></i>-->
                            <!--</div>-->
                            <!--<div>-->
                            <!--<label>{{room.name}}</label>-->
                            <!--</div>-->
                            <!--<div class="row" style="margin-bottom: 25px">-->
                            <!--<button type="button" class="btn btn-primary btn-fill"-->
                            <!--ng-click="">View-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-warning btn-fill">Edit</button>-->
                            <!--<button type="button" class="btn btn-danger btn-fill">Delete</button>-->
                            <!--<div class="clearfix"></div>-->
                            <!--</div>-->

                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


