<!doctype html>
<html lang="en" ng-app="application">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>zMail</title>
    <link href="assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="assets/js/app.js"></script>
    <script src="assets/js/routes.js"></script>
    <script src="assets/js/angular.js"></script>
  </head>

  <style>
    .menu-bar {margin-bottom: 0;}
    #sub-nav, .messages {border-right: 1px solid #eee;}
    .medium-grid-content {padding:1rem !important;}
  </style>

  <body>
    <div class="grid-frame vertical">
      <div class="primary title-bar">
        <div class="center title"><a ui-sref="home">zMail</a></div>
        <span class="right"><a ui-sref="settings">Settings</a></span>
      </div>
      <div ui-view class="grid-block">

      </div>
    </div>
  </body>
</html>
